<div class="job card">
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <figure class="image is-128x128">
                        <img class="is-rounded" [src]="job.logo">
                    </figure>
                </div>
                <div class="column is-two-thirds">
                    <p class="is-size-4">{{ job.company }}</p>
                    <p class="is-size-3">{{ job.position }}</p>
                </div>
                <div class="column">
                    <button class="button is-ghost">
                        <span class="tag">
                            Tag label
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>